@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

.rehype-figure {
  text-align: center;
  margin: 0 auto;
}

.rehype-figure > img {
  margin: 0 auto;
}

.rehype-figure > figcaption {
  @apply px-3 text-wrap max-w-full
}
